<section class="page"><div class="centered-box">
  <img src="http://placekitten.com/g/300/300" >
  <h1><%= @cat.name %></h1>

  <table>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
    <% [:age, :birth_date, :color, :sex, :swag_level].each do |attr_name| %>
      <tr>
        <td><%= attr_name %></td>
        <td><%= @cat.send(attr_name) %></td>
      </tr>
    <% end %>

    <% render cat %>
  </table>

  <% if @cat.owner == current_user %>
    <%= link_to "Edit #{@cat.name}", edit_cat_url(@cat) %>
  <% end %>


  <% render "form", user: @user, action: :new %>

  <% action_url = (action == :new) ? users_url : users_url(user) %>

  <form action="<%= action_url %>" method="post">
    <% if action == :edit %>
      <input type="hidden" name="_method" value="patch">
    <% end %>
  </form>
  <%= render "ad_banner" %>

  <p>
    <ul>
      <li>One cool thing</li>
      <li>two cool thing</li>
    </ul>
  </p>

  <%= render "footer" %>

  _footer.html.erb
  <br><br>
  <h1>Rental Requests</h1>
  <% if @cat.rental_requests.empty? %>
    <p><%= @cat.name %> has no rental requests.</p>
  <% else %>
    <table>
      <tr>
        <th>User</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
      </tr>
      <% @cat.rental_requests.order("start_date").each do |req| %>
        <%= render "req_tr", req: req %>
      <% end %>
    </table>
  <% end %>

  <% if logged_in? %>
    <%= link_to "Make new request", new_cat_rental_request_url %>
  <% end %>
</div></section>

<%= render "footer" %>
