<h1>Links#edit</h1>
<p>Find me in app/views/links/edit.html.erb</p>

<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<%= error %>
<% end %>
<% end %>

Edit Link
<form action="<%= link_url(@link) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="">Title</label>
  <input type="text" id="Title" name="link[title]" value="<%= @link.title %>">

  <label for="">URL</label>
  <input type="text" id="URL" name="link[url]" value="<%= @link.url %>">

  <input type="submit" value="Update Link">
</form>
