New Link
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>
<form action="<%= links_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token  %>">
  <label for="title">Title</label>
  <input type="text" name="link[title]" id="title" value="<%= @link.title  %>">

  <label for="url">URL</label>
  <input type="text" name="link[url]", id="url" value="<%= @link.url %>">

  <input type="submit" value="Create New Link">
</form>
