<h1>Links#show</h1>
<p>Find me in app/views/links/show.html.erb</p>

<%= @link.user.username %>
<%= @link.title %>
<%= @link.url %>
<%= link_to "Edit Link", edit_link_url(@link) %>

<% if flash[:errors] %>
<% flash[:errors].each do |error|%>
<%= error %>
<% end %>
<% end %>

Add Comment
<form action="<%= comments_url %>" method="post">
  <input type="text" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">Comment</label>
  <input type="text" id="Comment" name="comment[body]">
  <input type="integer" name="comment[link_id]" value="<%= @link.id %>">

  <input type="submit" value="Add Comment">

</form>

<% @link.comments.each do |comment| %>
<%= comment.body %>
<%= button_to "Remove Comment", comment_url, method: :delete %>
<% end %>
